body {
  background: #66ccff;
  margin: 0;
}

.road {
  position: absolute;
  height: 15%;
  width: 100%;
  background: #232323;
}
.top-road {
  top: 70%;
}

.bottom-road {
  top: 85%;
  border-top: 3px dashed white;
}

.sun {
  position: absolute;
  top: 6vh;
  left: 6vh;
  width: 2.5vw;
  min-height: 50px;
  min-width: 50px;
  height: 8vh;
  border-radius: 50%;
  background: #ffff00;
}

.car {
  position: absolute;
  top: 64.5%;
  left: 35%;
  width: 18vw;
  height: 11vh;
  min-height: 50px;
  min-width: 50px;
  background-color: rgb(70, 70, 70);
  border: 2px solid black;
  border-radius: 3vh;
}

.light {
  position: relative;
  height: 3vh;
  border-radius: 25%;

}

.stop-light {
  top: 32%;
  width: 2vw;
  background-color: red;
}

.rear-light {
  left: 92%;
  width: 1.5vw;
  background-color: white;
}

.wheel {
  position: absolute;
  border-radius: 55%;
  width: 2.5vw;
  height: 9vh;
  background-color: black;
  border: 1px solid white;
}

.left-wheel {
  left: 2.5vw;

}
.right-wheel {
  left: 12.5vw;

}

.car-body {
  position: absolute;
  border-bottom: 14vh solid rgb(70, 70, 70);
  border-left: 1.5vw solid transparent;
  border-right: 1.5vw solid transparent;
  height: 0;
  width: 9.5vw;
  left: 2.5vw;
  bottom: 10vh;
}

.window {
  position: absolute;
  background-color: white;
  top: 2vh;
  width: 3vw;
  height: 10vh;
}

.left-window {
  left: 0.5vw;
}

.right-window {
  left: 6vw
}
