@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

.button-style {
  padding-left: 35%;
  margin-bottom: 1.25%;
  align-self: center;
  align-items: center;
}

.row {
  padding-left: 18%;
}

.container {
  margin-top: 1vh;
  margin-left: 10vw;
  align-items: center;
}
